
<div>
  <input type="text" placeholder="用户名" [(ngModel)]="username">
  <input type="text" placeholder="密码" [(ngModel)]="password" >
  年龄：<select [(ngModel)]="age">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <button (click)="doAdd()">添加</button>
</div>

<table width="80%" cellspacing="0" cellpadding="5" border="1">
  <thead>
  <tr>
    <th>用户名</th>
    <th>密码</th>
    <th>年龄</th>
    <th>操作</th>
  </tr>
</thead>
  <tr *ngFor="let item of users ; index as i">
    <td>{{item.username}}</td>
    <td>{{item.password}}</td>
    <td>{{item.age}}</td>
    <td>
      <a href="javascript:;" (click)="doDelete(i)">删除</a>
    </td>
  </tr>
</table>