    <div class="form-group">
        <label for="bookname">书名：</label>
        <input type="text" placeholder="书名" id="bookname" class="form-control">
    </div>
    <div class="form-group">
        <label for="price">价格：</label>
        <input type="text" placeholder="价格" id="price" class="form-control">
    </div>
    <div class="form-group">
        <label for="bookname">类别：</label>
        <select name="类别" id="" class="form-control">
          <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-primary form-control" value="查询">
    </div>